Cex/Example/xsd/v006006_cex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.embention.com/schema/v006006_cex"
  elementFormDefault="qualified" xmlns:cex="http://www.embention.com/schema/v006006_cex" xmlns:core="http://www.embention.com/schema/cfg006006">

  <import namespace="http://www.embention.com/schema/cfg006006" schemaLocation="cfg006006.xsd"/>


  <element name="cfg" type="cex:cfg"></element>

  <complexType name="cfg">
    <all>
      <element name="entry-cana" type="core:entry-cana"></element>
      <element name="entry-canb" type="core:entry-canb"></element>
      <element name="entry-scia" type="core:entry-scia"></element>
      <element name="entry-scib" type="core:entry-scib"></element>
      <element name="entry-scic" type="core:entry-scic"></element>
      <element name="entry-ports" type="core:entry-ports"></element>
      <element name="entry-tunnel" type="core:entry-tunnel"></element>
      <element name="entry-arb-can" type="core:entry-arb-can"></element>
      <element name="entry-arb-ap0" type="core:entry-arb-ap0"></element>
      <element name="entry-arb-ap1" type="core:entry-arb-ap1"></element>
      <element name="entry-arb-ap2" type="core:entry-arb-ap2"></element>
      <element name="entry-arb-ap3" type="core:entry-arb-ap3"></element>
      <element name="entry-arb-arbitration" type="core:entry-arb-arbitration"></element>
      <element name="entry-cex-base" type="cex:entry-cex-base"></element>
      <element name="entry-cex-arbitration" type="cex:entry-cex-arbitration"></element>
      <element name="entry-cex-xpcu8" type="cex:entry-cex-xpcu8"></element>
      <element name="entry-cex-xpccan" type="cex:entry-cex-xpccan"></element>
      <element name="entry-cex-gpio" type="cex:entry-cex-gpio"></element>
      <element name="entry-entry-pwm-cex" type="cex:entry-pwm-cex"></element>
      <element name="entry-ecaps-cex" type="cex:entry-ecaps-cex"></element>
      <element name="entry-cappps-cex" type="cex:entry-cappps-cex"></element>
      <element name="entry-cap-pulse-cex" type="cex:entry-cap-pulse-cex"></element>
      <element name="entry-cex-xpcecap" type="cex:entry-cex-xpcecap"></element>
      <element name="entry-cex-ppm" type="cex:entry-cex-ppm"></element>
      <element name="entry-cex-lift" type="cex:entry-cex-lift"></element>
      <element name="entry-fmset-cex" type="cex:entry-fmset-cex"></element>
      <element name="entry-jetibox-c" type="cex:entry-jetibox-c"></element>
      <element name="entry-fmsg_p-cex" type="cex:entry-fmsg_p-cex"></element>
      <element name="entry-fmsg_c-cex" type="cex:entry-fmsg_c-cex"></element>
      <element name="entry-cex-cansuite-in" type="cex:entry-cex-cansuite-in"></element>
      <element name="entry-cex-cansuite-out" type="cex:entry-cex-cansuite-out"></element>
      <element name="entry-cex-cansuite-serialcan" type="cex:entry-cex-cansuite-serialcan"></element>
      <element name="entry-cex-can-fmset" type="cex:entry-can-fmset-cex"></element>
      <element name="entry-can-fmset-p-cex" type="cex:entry-can-fmset-p-cex"></element>
    </all>
  </complexType>

  <complexType name="entry-cex-base">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="299"></element>
          <element name="filename" type="string"
            fixed="cx_base.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-cex-base"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cex-arbitration">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="300"></element>
          <element name="filename" type="string"
            fixed="cx_arb.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-cex-arbitration"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cex-xpcu8">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="301"></element>
          <element name="filename" type="string"
            fixed="cx_pcu8.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="core:data-xpc"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cex-xpccan">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="302"></element>
          <element name="filename" type="string"
            fixed="cx_pccan.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="core:data-xpc"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cex-gpio">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="303"></element>
          <element name="filename" type="string"
            fixed="cx_gpio.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-gpio-cex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-pwm-cex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="304"></element>
          <element name="filename" type="string"
            fixed="cx_pwm.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-cex-pwms"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-ecaps-cex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="305"></element>
          <element name="filename" type="string"
            fixed="cx_ecaps.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-cex-ecap"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cappps-cex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="306"></element>
          <element name="filename" type="string"
            fixed="cx_pps.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-cex-rpm"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cap-pulse-cex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="307"></element>
          <element name="filename" type="string"
            fixed="cx_pulse.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="core:data-cap-pulse"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cex-xpcecap">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="308"></element>
          <element name="filename" type="string"
            fixed="cx_pceca.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="core:data-xpc"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cex-ppm">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="309"></element>
          <element name="filename" type="string"
            fixed="cx_ppm.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-cex-ppm"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cex-lift">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="310"></element>
          <element name="filename" type="string"
            fixed="cx_lift.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-cex-lift"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-fmset-cex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="311"></element>
          <element name="filename" type="string"
            fixed="cx_fmset.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-fmset-array-cex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-jetibox-c">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="312"></element>
          <element name="filename" type="string"
            fixed="cx_jetbx.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-jetibox-cex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-fmsg_p-cex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="313"></element>
          <element name="filename" type="string"
            fixed="cx_fmsgp.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-fmsg-cex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-fmsg_c-cex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="314"></element>
          <element name="filename" type="string"
            fixed="cx_fmsgc.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-fmsg-cex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cex-cansuite-in">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="315"></element>
          <element name="filename" type="string"
            fixed="cx_canin.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-cansuite-in"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cex-cansuite-out">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="316"></element>
          <element name="filename" type="string"
            fixed="cx_canou.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-cansuite-out-cex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cex-cansuite-serialcan">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="317"></element>
          <element name="filename" type="string"
            fixed="cx_cansc.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-cansuite-sc-cex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-can-fmset-cex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="318"></element>
          <element name="filename" type="string"
            fixed="cx_can_fmset.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-fmset-can-array-cex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-can-fmset-p-cex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="319"></element>
          <element name="filename" type="string"
            fixed="cx_cantm.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="cex:data-can-producer-cex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-fmset-can-array-cex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="24" type="cex:data-fmset-can-cex">
          </element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-fmset-can-cex">
    <sequence>
      <element name="fields" type="cex:data-fieldset-array-can-cex"/>
      <element name="endianness" type="core:data-enum-endianness"></element>
      <element name="bitorder" type="core:data-enum-bitorder"/>
      <element name="time" type="core:str-realfloat32"/>
    </sequence>
  </complexType>

  <complexType name="data-fieldset-array-can-cex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="6" type="core:data-fieldset">
          </element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-cex-base">
    <sequence>
      <element name="jetiEnabled" type="core:str-bool16"></element>
      <element name="txId" type="core:data-canid"></element>
    </sequence>
  </complexType>

  <complexType name="data-cex-arbitration">
    <sequence>
      <element name="enabled" type="core:str-bool16"></element>
      <element name="canId" type="core:data-canid"></element>
    </sequence>
  </complexType>

  <complexType name="data-gpio-cex">
    <sequence>
      <element name="gpio-pwm000" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm001" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm002" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm003" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm004" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm005" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm006" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm007" type="core:data-gpio-entry"></element>
      <element name="gpio-io01" type="core:data-gpio-entry"></element>
      <element name="gpio-io02" type="core:data-gpio-entry"></element>
      <element name="gpio-io03" type="core:data-gpio-entry"></element>
      <element name="gpio-io04" type="core:data-gpio-entry"></element>
    </sequence>
  </complexType>

  <complexType name="data-cex-pwms">
    <sequence>
      <element name="pwm000" type="cex:data-cex-pwm"></element>
      <element name="pwm001" type="cex:data-cex-pwm"></element>
      <element name="pwm002" type="cex:data-cex-pwm"></element>
      <element name="pwm003" type="cex:data-cex-pwm"></element>
      <element name="pwm004" type="cex:data-cex-pwm"></element>
      <element name="pwm005" type="cex:data-cex-pwm"></element>
      <element name="pwm006" type="cex:data-cex-pwm"></element>
      <element name="pwm007" type="cex:data-cex-pwm"></element>
    </sequence>
  </complexType>

  <complexType name="data-cex-pwm">
    <sequence>
      <element name="enabled" type="core:str-bool16"/>
      <element name="sub_id" type="core:str-uinteger16"/>
      <element name="freq" type="core:str-uinteger16"/>
      <element name="timeout" type="core:str-realfloat32"/>
      <element name="start_value" type="core:str-realfloat32"/>
      <element name="pwm" type="core:data-pwm"/>
      <element name="pulse_src_enabled" type="core:str-bool16"/>
      <element name="pulse_src_id" type="core:str-uinteger16"/>
    </sequence>
  </complexType>

  <complexType name="data-cex-ecap">
    <sequence>
      <element name="data-ecap000" type="core:data-ecap0"></element>
      <element name="data-ecap001" type="core:data-ecap0"></element>
      <element name="data-ecap002" type="core:data-ecap0"></element>
      <element name="data-ecap003" type="core:data-ecap0"></element>
    </sequence>
  </complexType>

  <complexType name="data-cex-rpm">
        <sequence>
          <element name="c0" type="core:data-rpm-entry"/>
          <element name="c1" type="core:data-rpm-entry"/>
          <element name="c2" type="core:data-rpm-entry"/>
          <element name="c3" type="core:data-rpm-entry"/>
        </sequence>
  </complexType>

  <complexType name="data-cex-lift">
    <sequence>
      <element name="enabled" type="core:str-bool16"/>
      <element name="tm_period" type="core:str-realfloat32"/>
      <element name="mcu_tm1_period" type="core:str-realfloat32"/>
      <element name="mcu_tm2_period" type="core:str-realfloat32"/>
      <element name="pwm-out" type="core:str-uinteger8"/>
    </sequence>
  </complexType>

  <complexType name="data-fmset-array-cex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="18" type="cex:data-fmset-cex">
          </element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-fmset-cex">
    <sequence>
      <element name="fields" type="cex:data-fieldset-array-cex"/>
      <element name="endianness" type="core:data-enum-endianness"></element>
      <element name="bitorder" type="core:data-enum-bitorder"/>
      <element name="time" type="core:str-realfloat32"/>
    </sequence>
  </complexType>

  <complexType name="data-fieldset-array-cex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="20" type="core:data-fieldset">
          </element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-jetibox-cex">
    <sequence>
      <element name="enabled" type="core:str-bool16"/>
      <element name="sciId" type="core:str-uinteger16"/>
      <element name="jetibox_fmset" type="cex:data-fmset-consumer-jetibox"/>
    </sequence>
  </complexType>

  <complexType name="data-fmset-consumer-jetibox">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="16">
            <complexType>
              <sequence>
                <element name="fmsg-id" type="core:str-uinteger16"></element>
                <element name="command" type="core:str-uinteger16"></element>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-fmset-consumer-mset-cex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="10" type="core:data-fmset-consumer-mset-entry"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-fmsg-cex">
    <sequence>
      <element name="fmsg1" type="cex:data-fmset-consumer-mset-cex"></element>
      <element name="fmsg2" type="cex:data-fmset-consumer-mset-cex"></element>
    </sequence>
  </complexType>

  <complexType name="data-cansuite-in">
    <sequence>
      <element name="can-in" type="cex:cansuite-in"/>
    </sequence>
  </complexType>

  <complexType name="cansuite-in">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="6" maxOccurs="6" type="core:data-cansuite-in-item"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-cansuite-out-cex">
    <sequence>
      <element name="can-out" type="cex:cansuite-out-cex"/>
    </sequence>
  </complexType>

  <complexType name="cansuite-out-cex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="6" maxOccurs="6" type="core:data-cansuite-out-item"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-cansuite-sc-cex">
    <sequence>
      <element name="serial-can" type="cex:serial-can-cex"/>
    </sequence>
  </complexType>

  <complexType name="serial-can-cex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="2" maxOccurs="2" type="core:data-serial-can-item"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-can-producer-cex">
    <sequence>
      <element name="data-fcan-producer-tx-ini" type="cex:data-fmsgcan-producer-1"></element>
      <element name="data-fcan-producer-tx" type="cex:data-fmsgcan-producer-cex"></element>
    </sequence>
  </complexType>

  <complexType name="data-fmsgcan-producer-1">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="1"
            type="core:data-fmsgcanp"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-fmsgcan-producer-cex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="8"
            type="core:data-fmsgcanp"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-cex-ppm">
    <sequence>
      <element name="ppm0" type="core:data-ppm"/>
    </sequence>
  </complexType>

</schema>
