MEX/Default/xsd/v006010_mex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.embention.com/schema/v006010_mex"
  xmlns:mex="http://www.embention.com/schema/v006010_mex" xmlns:core="http://www.embention.com/schema/cfg006010">
  <import namespace="http://www.embention.com/schema/cfg006010" schemaLocation="cfg006010.xsd"/>

  <element name="cfg" type="mex:cfg"></element>
  <complexType name="cfg">
    <all>
      <element name="entry-cana" type="core:entry-cana"></element>
      <element name="entry-canb" type="core:entry-canb"></element>
      <element name="entry-scia" type="core:entry-scia"></element>
      <element name="entry-scib" type="core:entry-scib"></element>
      <element name="entry-scic" type="core:entry-scic"></element>
      <element name="entry-ports" type="core:entry-ports"></element>
      <element name="entry-tunnel" type="core:entry-tunnel"></element>
      <element name="entry-arb-can" type="core:entry-arb-can"></element>
      <element name="entry-arb-arbitration" type="core:entry-arb-arbitration"></element>
      <element name="entry-mex-base" type="mex:entry-mex-base"></element>
      <element name="entry-mex-arbitration" type="mex:entry-mex-arbitration"></element>
      <element name="entry-mex-xpcu8" type="core:entry-cex-xpcu8"></element>
      <element name="entry-mex-xpccan" type="core:entry-cex-xpccan"></element>
      <element name="entry-mex-gpio" type="mex:entry-mex-gpio"></element>
      <element name="entry-entry-pwm-mex" type="mex:entry-pwm-mex"></element>
      <element name="entry-ecaps-mex" type="mex:entry-ecaps-mex"></element>
      <element name="entry-cappps-mex" type="mex:entry-cappps-mex"></element>
      <element name="entry-cap-pulse-mex" type="mex:entry-cap-pulse-mex"></element>
      <element name="entry-mex-xpcecap" type="mex:entry-mex-xpcecap"></element>
      <element name="entry-mex-ppm" type="mex:entry-mex-ppm"></element>
      <element name="entry-mex-lift" type="mex:entry-mex-lift"></element>
      <element name="entry-fmset-mex" type="mex:entry-fmset-mex"></element>
      <element name="entry-jetibox-c" type="mex:entry-jetibox-c"></element>
      <element name="entry-fmsg_p-mex" type="mex:entry-fmsg_p-mex"></element>
      <element name="entry-fmsg_c-mex" type="mex:entry-fmsg_c-mex"></element>
      <element name="entry-mex-cansuite-in" type="mex:entry-mex-cansuite-in"></element>
      <element name="entry-mex-cansuite-out" type="mex:entry-mex-cansuite-out"></element>
      <element name="entry-mex-cansuite-serialcan" type="mex:entry-mex-cansuite-serialcan"></element>
      <element name="entry-mex-can-fmset" type="mex:entry-can-fmset-mex"></element>
      <element name="entry-can-fmset-p-mex" type="mex:entry-can-fmset-p-mex"></element>
      <element name="entry-status" type="core:entry-status"></element>
      <element name="entry-calmag0" type="mex:entry-calmag0"></element>
      <element name="entry-mag0_filt" type="mex:entry-mag0filt"></element>
      <element name="entry-mag0_rot" type="mex:entry-mag0_rot"></element>
      <element name="entry-fmsg-trigger" type="core:entry-fmsg-trigger"></element>
      <element name="entry-can-terminators" type="core:entry-can-terminators"></element>
    </all>
  </complexType>

  <complexType name="entry-mag0filt">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="99"></element>
          <element name="filename" type="string"
            fixed="mag0_filt.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" type="core:data-iir2"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-calmag0">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="113"></element>
          <element name="filename" type="string"
            fixed="calmag0.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" type="core:data-calibration"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>


  <complexType name="entry-mex-base">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="299"></element>
          <element name="filename" type="string"
            fixed="cx_base.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-mex-base"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-mex-arbitration">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="300"></element>
          <element name="filename" type="string"
            fixed="cx_arb.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-mex-arbitration"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-mex-gpio">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="303"></element>
          <element name="filename" type="string"
            fixed="cx_gpio.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-gpio-mex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-pwm-mex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="323"></element>
          <element name="filename" type="string"
            fixed="mx_pwm.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-mex-pwms"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-ecaps-mex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="322"></element>
          <element name="filename" type="string"
            fixed="cx_ecaps.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-mex-ecap"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cappps-mex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="306"></element>
          <element name="filename" type="string"
            fixed="cx_pps.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-mex-rpm"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-cap-pulse-mex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="307"></element>
          <element name="filename" type="string"
            fixed="cx_pulse.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="core:data-cap-pulse"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-mex-xpcecap">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="308"></element>
          <element name="filename" type="string"
            fixed="cx_pceca.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="core:data-xpc"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-mex-ppm">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="309"></element>
          <element name="filename" type="string"
            fixed="cx_ppm.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-mex-ppm"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-mex-lift">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="310"></element>
          <element name="filename" type="string"
            fixed="cx_lift.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-mex-lift"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-fmset-mex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="311"></element>
          <element name="filename" type="string"
            fixed="cx_fmset.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-fmset-array-mex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-jetibox-c">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="312"></element>
          <element name="filename" type="string"
            fixed="cx_jetbx.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-jetibox-mex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-fmsg_p-mex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="313"></element>
          <element name="filename" type="string"
            fixed="cx_fmsgp.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-fmsg-mex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-fmsg_c-mex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="314"></element>
          <element name="filename" type="string"
            fixed="cx_fmsgc.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-fmsg-mex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-mex-cansuite-in">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="315"></element>
          <element name="filename" type="string"
            fixed="cx_canin.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-cansuite-in"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-mex-cansuite-out">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="316"></element>
          <element name="filename" type="string"
            fixed="cx_canou.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-cansuite-out-mex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-mex-cansuite-serialcan">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="317"></element>
          <element name="filename" type="string"
            fixed="cx_cansc.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-cansuite-sc-mex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-can-fmset-mex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="318"></element>
          <element name="filename" type="string"
            fixed="cx_can_fmset.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-fmset-can-array-mex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-can-fmset-p-mex">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="319"></element>
          <element name="filename" type="string"
            fixed="cx_cantm.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" minOccurs="0" type="mex:data-can-producer-mex"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="entry-mag0_rot">
    <complexContent>
      <restriction base="core:entry">
        <sequence>
          <element name="id" type="short" fixed="320"></element>
          <element name="filename" type="string"
            fixed="mag0_rot.bin"></element>
          <element name="version" type="core:data-version"></element>
          <element name="data" type="core:data-rmatrix3"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-fmset-can-array-mex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="24" type="mex:data-fmset-can-mex">
          </element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-fmset-can-mex">
    <sequence>
      <element name="fields" type="mex:data-fieldset-array-can-mex"/>
      <element name="endianness" type="core:data-enum-endianness"></element>
      <element name="time" type="core:str-realfloat32"/>
    </sequence>
  </complexType>

  <complexType name="data-fieldset-array-can-mex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="6" type="core:data-fieldset">
          </element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-mex-base">
    <sequence>
      <element name="jetiEnabled" type="core:str-bool16"></element>
      <element name="txId" type="core:data-canid"></element>
    </sequence>
  </complexType>

  <complexType name="data-mex-arbitration">
    <sequence>
      <element name="enabled" type="core:str-bool16"></element>
      <element name="canId" type="core:data-canid"></element>
    </sequence>
  </complexType>

  <complexType name="data-gpio-mex">
    <sequence>
      <element name="gpio-pwm000" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm001" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm002" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm003" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm004" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm005" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm006" type="core:data-gpio-entry"></element>
      <element name="gpio-pwm007" type="core:data-gpio-entry"></element>
      <element name="gpio-io01" type="core:data-gpio-entry"></element>
      <element name="gpio-io02" type="core:data-gpio-entry"></element>
      <element name="gpio-io03" type="core:data-gpio-entry"></element>
      <element name="gpio-io04" type="core:data-gpio-entry"></element>
    </sequence>
  </complexType>

  <complexType name="data-mex-pwms">
    <sequence>
      <element name="pwm000" type="core:data-cex-pwm"></element>
      <element name="pwm001" type="core:data-cex-pwm"></element>
      <element name="pwm002" type="core:data-cex-pwm"></element>
      <element name="pwm003" type="core:data-cex-pwm"></element>
    </sequence>
  </complexType>

  <complexType name="data-mex-ecap">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="2" maxOccurs="2" type="core:data-ecap0">
          </element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-mex-rpm">
        <sequence>
          <element name="c0" type="core:data-rpm-entry"/>
          <element name="c1" type="core:data-rpm-entry"/>
          <element name="c2" type="core:data-rpm-entry"/>
          <element name="c3" type="core:data-rpm-entry"/>
        </sequence>
  </complexType>

  <complexType name="data-mex-lift">
    <sequence>
      <element name="enabled" type="core:str-bool16"/>
      <element name="tm_period" type="core:str-realfloat32"/>
      <element name="mcu_tm1_period" type="core:str-realfloat32"/>
      <element name="mcu_tm2_period" type="core:str-realfloat32"/>
      <element name="pwm-out" type="core:str-uinteger8"/>
    </sequence>
  </complexType>

  <complexType name="data-fmset-array-mex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="18" type="mex:data-fmset-mex">
          </element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-fmset-mex">
    <sequence>
      <element name="fields" type="mex:data-fieldset-array-mex"/>
      <element name="endianness" type="core:data-enum-endianness"></element>
      <element name="time" type="core:str-realfloat32"/>
    </sequence>
  </complexType>

  <complexType name="data-fieldset-array-mex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="20" type="core:data-fieldset">
          </element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-jetibox-mex">
    <sequence>
      <element name="enabled" type="core:str-bool16"/>
      <element name="sciId" type="core:str-uinteger16"/>
      <element name="jetibox_fmset" type="mex:data-fmset-consumer-jetibox"/>
    </sequence>
  </complexType>

  <complexType name="data-fmset-consumer-jetibox">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="16">
            <complexType>
              <sequence>
                <element name="fmsg-id" type="core:str-uinteger16"></element>
                <element name="command" type="core:str-uinteger16"></element>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-fmset-consumer-mset-mex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="10" type="core:data-fmset-consumer-mset-entry"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-fmsg-mex">
    <sequence>
      <element name="fmsg1" type="mex:data-fmset-consumer-mset-mex"></element>
      <element name="fmsg2" type="mex:data-fmset-consumer-mset-mex"></element>
    </sequence>
  </complexType>

  <complexType name="data-cansuite-in">
    <sequence>
      <element name="can-in" type="mex:cansuite-in"/>
    </sequence>
  </complexType>

  <complexType name="cansuite-in">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="6" maxOccurs="6" type="core:data-cansuite-in-item"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-cansuite-out-mex">
    <sequence>
      <element name="can-out" type="mex:cansuite-out-mex"/>
    </sequence>
  </complexType>

  <complexType name="cansuite-out-mex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="6" maxOccurs="6" type="core:data-cansuite-out-item"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-cansuite-sc-mex">
    <sequence>
      <element name="serial-can" type="mex:serial-can-mex"/>
    </sequence>
  </complexType>

  <complexType name="serial-can-mex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="2" maxOccurs="2" type="core:data-serial-can-item"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-can-producer-mex">
    <sequence>
      <element name="data-fcan-producer-tx-ini" type="mex:data-fmsgcan-producer-1"></element>
      <element name="data-fcan-producer-tx" type="mex:data-fmsgcan-producer-mex"></element>
    </sequence>
  </complexType>

  <complexType name="data-fmsgcan-producer-1">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="1"
            type="core:data-fmsgcanp"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-fmsgcan-producer-mex">
    <complexContent>
      <restriction base="core:str-tunarray">
        <sequence>
          <element name="str-tunarray-element" minOccurs="0" maxOccurs="8"
            type="core:data-fmsgcanp"></element>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="data-mex-ppm">
    <sequence>
      <element name="ppm0" type="core:data-ppm"/>
    </sequence>
  </complexType>

</schema>
